/*formateo de valores por defecto*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*aplicamos estilos al elemento body */
body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

/* Aplicamos estilos al header*/

header{
    padding: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px;
    text-align: center;
}

/*aplicamos estilos a los enlaces del header */

header nav a{
    color:azure; 
    text-decoration-line: none; 
    margin: 5px;
}
h1{
    text-align: center;
    color: darkgray;
}
/*aplicamos estilos al div container*/
.container {
    width: 400px;
    margin: 50px auto;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
/*aplicamos estilos a nuestro subtitulo*/
.container h2{
    color: burlywood;
    text-align: center;
}
/*aplicamos estilos a nuestros form-group*/
.form-group{
    margin-bottom: 15px;
}
/*aplicamos estilos al form-group y su hijo label*/

.form-group label{
    color: white;
    display:block;
    margin-bottom: 5px;
}

/*aplicamos estilos a los inputs*/

.form-group input{
    width: 100%;
    padding: 10px;
    border: 2px solid #666;
    border-radius: 5px;
    background-color: #333;
    color: azure; 
}

/*aplicamos estilos al input submit mediante seudoelementos*/

.form-group input[type="submit"]{
    background-color: #007bf7;
    color: white;
    cursor: pointer;
}

.form-group input[type="submit"]:hover{
    background-color: #a400b3;
}
